//@import 'reset';

//VARS
$yellow: #fee445;
$white: #fff;
$grey: #dedede;
$grey-dark: #d0cbc9;

//MIXINS
@mixin shadow-center($opacity: 0.75) {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,$opacity);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,$opacity);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,$opacity);
}

.hidden{
	display: none;
}

body{
	background-color: $yellow;
	
	#app{
		header{
			display: flex;
    		justify-items: center;
			justify-content: center;
			margin-top: 25px;
			margin-bottom: 25px;

			input{
				width: 500px;
				height: 25px;
			}
		}

		section{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;

			/*
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			*/

			.card{
				background-color: $white;
				width: 200px;
				margin: 10px;
				@include shadow-center(0.5);

				.card-top{

					background-color: $grey;
		
					.img-pokemon{
						display: flex;
						justify-content: center;
						align-items: center;
						flex-flow: column;
					}
					
					.number{
						display: flex;
						flex-flow: row wrap;

						span{
							background-color: $grey-dark;
							color: #9f9184;
							font-size: 15px;
							padding: 3px 10px 3px 10px;
						}
					}

				}

				.card-footer{
					padding: 30px;
					display: flex;
					flex-flow: column;

					.name{
						margin-bottom: 5px;
						span{
							font-family: Arial, Helvetica, sans-serif;
							font-size: 20px;
							font-weight: bold;
							
						}
					}
					.type{
						display: flex;
						flex-flow: row wrap;

						span{
							font-size: 10px;
							margin: 1px;
							color: $grey;
							border: 1px solid $grey;
							padding: 2px;
							border-radius: 5px;
						}
					}
				}




			}
		}
	}

}