@import "reset";

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  background: #fee82d;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .pokedex_search-input {
    margin-top: 5%;
    height: 70px;
    input {
      width: 900px;
      height: 50px;
      font-size: 15px;
      text-align: center;
    }
  }
  .pokedex_cards-container {
    display: flex;
    width: 900px;
    justify-content: space-between;
    .pokedex_card {
      width: 250px;
      height: 350px;
      background: white;
      .pokedex_card-img-container {
        width: 100%;
        height: 150px;
        align-items: center;
        display: flex;
        justify-content: center;
        background: #dfdfdf;
        position: relative;
        .pokedex_card-img-counter {
          background: #d2cdca;
          position: absolute;
          padding: 3%;
          bottom: 0;
          left: 0;
        }
      }
      .pokedex_card-dates-container{
        padding: 10%;
        .pokedex_card-dates-title{
          font-size: 25px;
        }
        .pokedex_card-pills-container{
          display: flex;
          flex-wrap: wrap;
          margin-top: 2%;
          .pokedex_card-pills{
            color: #dfdfdf;
            border: 1px solid #dfdfdf;
            padding: 2%;
            border-radius: 20px;
            text-transform: uppercase;
            font-size: 10px;
            margin-right: 2%;
            margin-top: 2%;
          }
        }
      }
    }
  }
}
