.main-container {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 10px;
    opacity: 0;
    top: 20px;
    position: relative;
    transition: all .8s ease-in-out;

    &--active {
        opacity: 1;
        top: 0;
    }
}